<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Simple Quiz</title>
</head>
<body>
    <header>
    {% include 'quiz/base/nav.html' %}
        <h1>The Simple Quiz</h1>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem reiciendis quasi ipsa, praesentium quos provident sint maxime voluptate eveniet numquam. Sequi odio quisquam optio explicabo soluta dolores. Consequuntur, quo ab.</p>
        <div>
            <h2>Start the Quiz</h2>
            <div>
                <h3>Options:</h3>
            </div>
            <div>
                <a href="{% url 'showQuestion' %}"><button type="button">Start!</button></a>
            </div>
        </div>
    </main>
    <footer>
        
    </footer>
    
</body>
</html>